<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:ui="http://schemas.microsoft.com/wix/UIExtension">

  <Product Id="*" Name="Setup" Language="1033" Version="1.0.0.0" Manufacturer="Simdi Jinkins" UpgradeCode="1c887ed8-e61c-4492-bdbc-b1f5a51cf841">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  Platform="x64" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Setup" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="PhishTankSetup" Win64="yes">

        <File Id="FILE_PhishTankSetup.exe" Source="$(var.PhishTank.TargetPath)" KeyPath="yes"></File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>